table {
  border-collapse: collapse;
  width: 100%;
}

thead, tbody { display: block; }

tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

th, td { 
  width: 100px;
  border: 0;
  text-align: center;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}
